
html { 

    body {
        .wrapper {
            max-width:100vw;
            margin: 0 3rem; 
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: ($baseline*8) ($baseline*0.6) ($baseline*2.9) 
             ($baseline*19) ($baseline*9) ($baseline*4.85) 
            ($baseline*3) ($baseline*5);
            grid-template-areas: 
            "mimg mimg mimg mimg mimg mimg mimg"
            ". . . tag . . . "
            ". mhead mhead mhead mhead mhead ."
            "agrid agrid agrid agrid agrid agrid ad"
            "flex flex flex flex flex flex flex"
            "big big big big big big big"
            "cat cat cat cat cat cat cat"
            "catego catego catego catego catego catego catego";
            
            .mainimg {
                grid-area: mimg;                
                overflow: hidden;
                    
                img {
                    max-width: 93vw;
                    min-width: 93vw;
                    width: 100%;
                    
                }
            }
            .mainheader {
                grid-area: mhead;
                background: white;
                transform: translateY(-8rem);
                @extend %center;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                text-align: center;
                
            }
            .tag {
                grid-area: tag;
                background: $pig;
                z-index: 1;
                transform: translateY(-7rem);
                @extend %center;

                h2 {
                    font-size: .9rem;
                    text-transform: uppercase;

                }
            }

            .grid {
                grid-area: agrid;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1rem;
                margin-right: 1.5rem;
          
                .griditem {
                  background: white;
                  display: flex;
                  flex-direction: column;
          
                  .img {
                    flex: 1;
                    width: 100%;
                  }
          
                  .text {
                    background: white;
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: left;
                    padding: 1rem;
                    min-height: 12rem;
                    max-height: 12rem;
                    height: 100%;
                }
              }
            }  

            .ad {
                grid-area: ad;       
                margin-left:1rem;
                
                img{
                    max-width: 14vw;
                    min-width: 14vw;
                    width: 100%;
                    margin-bottom: .7rem;
                }
            }

            .flex {
                margin: 1rem 0;
                grid-area: flex;
                display: flex;
                margin-top: 3rem;

                    .imgtv {
                        background: lightblue;
                        flex:2;
                        display: flex;
                        align-items: flex-end;
                        
                        .box {
                            background: rgba(53, 53, 53, 0.767);
                            padding: 1rem;
                            width: 100%;
                        }
                        h2{
                            color:white;
                            
                        
                        }
                        p {
                            color: white;
                        }
                    }

                    .list {
                        background:white;
                        flex: 1;
                        overflow-y: scroll;
                        ul {
                            
                            li{
                               font-size: 0.5rem; 
                               overflow-y: scroll;
                                
                            }
                        }
                    }
            }
            .big{
                grid-area: big;       
                @extend %center;
            
                img {
                    width: 100%;
                    min-width: 93vw;
                }

            }
            .cat {
                grid-area: cat;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
            .categories {
                    grid-area: catego;
                    display: flex;
                    margin-bottom: 2rem;

                    .catimg {                       
                        flex:1;                        
                        width: 3rem;
                        margin-right: 1rem;

                        .img {
                            background-size: cover; 
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            
                            .box {
                                padding: 1rem;
                                background: rgba(82, 80, 80, 0.719);
                                                      
                                h4 {
                                    margin: .4rem 0;
                                    color: white;
                                } 

                                p {
                                    font-size: .8rem;
                                    color:white;
                                    margin: .6rem 0;                                
                                    display: none;
                                }                       

                            }

                            &:hover {
                                background: rgba(82, 80, 80, 0.719);

                                .box {
                                    padding: 1rem;
                                    
                                    p {
                                        display: unset;
                                    }
                                }
                                
                            }
                            
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                    }
                }

            }   

            
    }
}


@media screen and (max-width: 415px) {

    html { 
        
        body {

            .wrapper {
                max-width:100vw;
                width: 100%;
                margin: 0; 
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                

                grid-template-rows: ($baseline*8) ($baseline*0.6) ($baseline*5) 
                 ($baseline*15) ($baseline*30) ($baseline*11) 
                ($baseline*0.1) ($baseline*5);
                
                grid-template-areas: 
                "mimg mimg mimg mimg mimg mimg mimg"
                ". . tag tag tag . . "
                "mhead mhead mhead mhead mhead mhead mhead"
                "agrid agrid agrid agrid agrid agrid agrid"
                "ad ad ad ad ad ad ad"
                "flex flex flex flex flex flex flex"
                "big big big big big big big"
                "cat cat cat cat cat cat cat"
                "catego catego catego catego catego catego catego";
                
                .mainimg {
                    grid-area: mimg;                
                    overflow: hidden;
                        
                    img {
                        max-width: 100vw;
                        min-width: 100vw;
                        width: 100%;
                        
                    }
                }
                .mainheader {
                    grid-area: mhead;
                    background: white;
                    transform: translateY(-400px);
                   
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    padding: 2rem;
                    margin: 1.4rem;                    
                    text-align: center;                    
                }
                .tag {
                    grid-area: tag;
                    background: $pig;
                    z-index: 1;
                    transform: translateY(-360px);
                    
                    h2 {
                        font-size: .9rem;
                        text-transform: uppercase;
    
                    }
                }
    
                .grid {

                    grid-area: agrid;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    transform: translateY(-320px);
                    
                    margin:0;
                    max-width: 100vw;
                    width: 100%;
                    
              
                    .griditem {
                      background: white;
                      display: flex;
                      flex-direction: column;
              
                      .img {
                        flex: 1;
                        width: 100vw;
                      }
              
                      .text {
                        background: white;
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        align-items: left;
                        padding: 1rem;
                        min-height: 12rem;
                        max-height: 12rem;
                        height: 100%;
                    }
                  }
                }  
    
                .ad {
                    grid-area: ad;
                    display: none;                   
                    
                    img{
                        max-width: 14vw;
                        min-width: 14vw;
                        width: 100%;
                        margin-bottom: .7rem;
                    }
                }
    
                .flex {                    
                    grid-area: flex;
                    display: flex;
                    flex-direction: column;
                    margin:0;
                    max-width: 100vw;
                    width: 100%;
                            
                        .imgtv {
                            background: lightblue;
                            flex:2;
                            display: flex;
                            align-items: flex-end;
                            
                            .box {
                                background: rgba(53, 53, 53, 0.767);
                                padding: 0rem;
                                
                            }
                            h2{
                                color:white;
                                padding: 1rem;                            
                            }
                            p {
                                color: white;
                                padding: 1rem;
                            }
                        }
    
                        .list {
                            background:white;
                            flex: 1;
                            overflow-y: scroll;
                            ul {
                                
                                li{
                                   font-size: 0.5rem; 
                                   overflow-y: scroll;
                                    
                                }
                            }
                        }
                }
                .big{
                    grid-area: big;   
                    display: none;       
    
                }
                .cat {
                    grid-area: cat;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                }
                .categories {
                        grid-area: catego;
                        display: flex;
                        margin-bottom: 2rem;
                        flex-direction: column;
                        transform: translateY(-150px);
    
                        .catimg {                       
                            flex:1;                        
                            width: 100vw;
                            margin: 0rem;
    
                            .img {
                                background-size: cover;
                                background-position: center;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                
                                .box {
                                    padding: 0;
                                    background: rgba(82, 80, 80, 0.3);
                                                          
                                    h4 {
                                        font-size: 1.4rem;
                                        padding: 4rem;
                                        margin: .4rem 0;
                                        color: white;
                                    } 
    
                                    p {
                                        font-size: .8rem;
                                        color:white;
                                        margin: .6rem 0;                                
                                        
                                    }                       
    
                                }
    
                                
                            }
    
                            &:last-child {
                                margin: 0;
                            }
    
                        }
                    }
    
                }   
    
                
        }
    }
    
}