@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Pattaya&display=swap");
/* @import '~bootstrap/scss/bootstrap'; */
body {
  margin: 0;
}

body #app .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 1rem;
  font-size: 1rem;
  background: #e5e5e5;
}

body #app .navbar .nav-btn {
  font-size: 1.4rem;
}

body #app .navbar .nav-btn .logo {
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

body #app .navbar .login-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

body #app .navbar a {
  color: black;
  text-decoration: none;
}

body #app .navbar :hover {
  color: #FFA7A7;
}

body #app .container {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 20rem 2rem 8.8rem 2rem 32rem 24rem 12rem 4rem 4rem 4rem;
      grid-template-rows: 20rem 2rem 8.8rem 2rem 32rem 24rem 12rem 4rem 4rem 4rem;
      grid-template-areas: "mimg mimg mimg mimg mimg mimg mimg" ". . . tag . . . " ". mhead mhead mhead mhead mhead ." "search search search search search search ad" "articles articles articles articles articles articles ad" "flex flex flex flex flex flex flex" "bigad bigad bigad bigad bigad bigad bigad" "cat cat cat cat cat cat cat" "catego catego catego catego catego catego catego";
}

body #app .container .mainimg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: mimg;
  background: lightblue;
}

body #app .container .mainheader {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: mhead;
  background: gold;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
}

body #app .container .tag {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: tag;
  background: #FFA7A7;
  z-index: 1;
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

body #app .container .search {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: search;
  background: lime;
  margin-bottom: .4rem;
}

body #app .container .articles {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: articles;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app .container .ad {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  grid-area: ad;
  background: orange;
  margin-left: .4rem;
}

body #app .container .flex {
  margin: 1rem 0;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: flex;
  background: pink;
}

body #app .container .flex .tv .list ul li {
  font-size: 0.5rem;
  overflow: hidden;
}

body #app .container .bigad {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: bigad;
  background: blue;
}

body #app .container .cat {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: cat;
  background: rebeccapurple;
}

body #app .container .categories {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: catego;
  background: violet;
}
/*# sourceMappingURL=app.css.map */